# Node & Next.js
**/cars24/.next/
**/cars24/node_modules/
**/cars24/.env.local
**/cars24/.env*

# VSCode
.vscode/

# Logs
*.log
**/logs/

# OS
.DS_Store
Thumbs.db

# Dotnet
**/Cars24API/bin/
**/Cars24API/obj/
**/Cars24API/appsettings.Development.json
**/Cars24API/appsettings.*.json
**/Cars24API/*.user
**/Cars24API/.vs/
**/Cars24API/.idea/

# Docker
**/docker-compose.override.yml
**/*.pid
**/Cars24API/*.db
**/Cars24API/*.db-shm
**/Cars24API/*.db-wal

# Build artifacts
**/dist/
**/out/
